@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --aside-bg-clr: #1992d4;
  --aside-fnt-clr: #ffffff;
  --header-bg-clr: #ffffff;
  --main-bg-clr: #e2e8f0;
  --font-fam: 'Asap', sans-serif;
}

body {
  font-family: var(--font-fam);
}

div.main-wrapper {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 5fr;
  grid-template-rows: 15vh 1fr;
  grid-template-areas: 
    'aside header'
    'aside main';
  min-height: 100vh;
}

div.main-wrapper > .header {
  grid-area: header;
  background-color: var(--header-bg-clr);
}

div.main-wrapper > .aside {
  grid-area: aside;
  /* temp padding to help visualize content */
  padding: 1rem;
  background-color: var(--aside-bg-clr);
  color: var(--aside-fnt-clr);
  font-weight: 600;
}

.aside > div.aside__menu li {
  font-size: 1.25rem;
  list-style-type: none;
  cursor: pointer;
}

div.main-wrapper > .main {
  grid-area: main;
  background-color: var(--main-bg-clr);
}