@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --aside-bg-clr: #1992d4;
  --aside-fnt-clr: #ffffff;
  --header-bg-clr: #ffffff;
  --main-bg-clr: #e2e8f0;
  --font-fam: 'Asap', sans-serif;
}

body {
  font-family: var(--font-fam);
}

div.main-wrapper {
  display: grid;
  grid-template-columns: minmax(220px, 1fr) 5fr;
  grid-template-rows: 20vh 1fr;
  grid-template-areas: 
    'aside header'
    'aside main';
  min-height: 100vh;
}

div.main-wrapper > .header {
  grid-area: header;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  padding: 1em;
  background-color: var(--header-bg-clr);
}

div.main-wrapper > .aside {
	grid-area: aside;

	display: grid;
	grid-template-rows: 15vh repeat(2, auto);
	padding: 0 1rem;
	background-color: var(--aside-bg-clr);
	color: var(--aside-fnt-clr);
	font-weight: 600;
}

.aside__logo {
  display: flex;
  align-items: center;
}

.aside__logo > h1 {
  margin: 0;
}

.aside__menu svg {
  width: 1.25em;
  height: 1.25em;
  margin: 0.15em;
}

.aside > nav.aside__menu li {
  display: flex;
  align-items: center;
	margin-bottom: 0.5em;
	font-size: 1.15rem;
	list-style-type: none;
	cursor: pointer;
}

div.main-wrapper > .main {
  grid-area: main;
  background-color: var(--main-bg-clr);
}