@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --lightblue-bg-clr: #1992d4;
  --white-fnt-clr: #ffffff;
  --white-bg-clr: #ffffff;
  --search-bar-bg-hover: #dbdbdb;
  --search-bar-outline-clr: #7a7a79;
  --profile-img-width: 40px;
  --main-bg-clr: #e2e8f0;
  --font-fam: 'Asap', sans-serif;
  --cards-header-bg: linear-gradient(180deg, rgba(226,232,240,1) 93%, rgba(255,255,255,0) 100%); 
  --cards-left-border-clr: #f0b429;
}

body {
  font-family: var(--font-fam);
}

div.main-wrapper {
  display: grid;
  grid-template-columns: minmax(220px, 1fr) 5fr;
  grid-template-rows: 25vh 1fr;
  grid-template-areas: 
    'aside header'
    'aside main';
  min-height: 100vh;
}

div.main-wrapper > .header {
  grid-area: header;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  padding: 1em 3em 1em 1em;
  background-color: var(--white-bg-clr);
}

.header > .header__user-log img {
  width: var(--profile-img-width);
  height: auto;
  border-radius: 50%;
}

.header > div.header__search-bar {
  display: flex;
  align-items: center;
}

div.header__search-bar > input {
  padding: 0.5em;
  width: 95%;
  font-size: 1.12rem;
  appearance: none;
  border: none;
  border-radius: 2rem;
  background-color: var(--main-bg-clr);
  transition: all 150ms ease-in-out;
}

div.header__search-bar > input:hover {
  background-color: var(--search-bar-bg-hover);
}

div.header__search-bar > input:focus {
  background-color: var(--main-bg-clr);
  outline: 2px solid var(--search-bar-outline-clr);
}

.header > .header__user-log {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
}

.header > .header__user-account {
  display: grid;
  grid-template-columns: var(--profile-img-width) 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'photo greeting'
    'photo account';
  column-gap: 1.5em;
}

.header > .header__user-account img {
  grid-area: photo;
  width: calc(var(--profile-img-width) + 1em);
  height: auto;
  border-radius: 50%;
}

.header > .header__user-account p:nth-of-type(2) {
  font-size: 1.5rem;
}

.header > .header__user-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}

.header > .header__user-actions > button {
  appearance: none;
  padding: 0.5em 2em;
  border-radius: 2rem;
  background-color: var(--lightblue-bg-clr);
  color: var(--white-fnt-clr);
}

div.main-wrapper > .aside {
	grid-area: aside;

	display: grid;
	grid-template-rows: 15vh repeat(2, auto);
  position: sticky;
  top: 0;
  height: 100vh;
	padding: 0 1rem;
	background-color: var(--lightblue-bg-clr);
	color: var(--white-fnt-clr);
	font-weight: 600;
}

.aside__logo {
  display: flex;
  align-items: center;
}

.aside__logo > h1 {
  margin: 0;
}

.aside__menu svg {
  width: 1.25em;
  height: 1.25em;
  margin: 0.15em;
}

.aside > nav.aside__menu li {
  display: flex;
  align-items: center;
	margin-bottom: 0.5em;
	font-size: 1.15rem;
	list-style-type: none;
	cursor: pointer;
}

div.main-wrapper > .main {
  grid-area: main;
  display: grid;
  grid-template-columns: 5fr 2fr;
  background-color: var(--main-bg-clr);
}

.main > section.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 3rem 1fr;
}

section.project-cards > header {
  grid-column: 1 / -1;
}

section.project-cards > article {
  margin: 1rem 0 0 1rem;
  padding: 1em;
  border-radius: 3px;
  background-color: var(--white-bg-clr);
  border-left: 5px solid var(--cards-left-border-clr);
}

section.project-cards > article h3 {
  margin: 0 0 0.5em;
}

section.project-cards > article p {
  text-indent: 1.5rem;
  text-align: justify;
}

section.project-cards > article footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 1em 0.5em .5em;
}

section.announ-cards {
  display: flex;
  flex-direction: column;
}

section.announ-cards > section {
  margin: .5rem;
}

section.announ-cards > section h3 {
  margin: 0 .12em .5em;
}

section.announ-cards > section > div {
  padding: .5rem;
  border-radius: 5px;
  background-color: var(--white-bg-clr);
}